
# Defines boost path
#set(BOOST_ROOT )

# Defines VTK path
#set(VTK_ROOT )

# Defines Qt path
#set(QMAKE_DIR )

# Defines Python path
#set(PYTHON_DIR )

# Defines HDF5 path
#set(HDF5_DIR )

# Defines SQLite path
#set(SQLITE_DIR )

# Defines Qwt path
#set(QWT_DIR )

# Defines GTest path
set(GTest_ROOT F:/lib/GMock/1.8.0)
set(GTEST_LINKED_AS_SHARED_LIBRARY 1)

# Defines GoogleMock path
set(GMOCK_ROOT F:/lib/GMock/1.8.0)
